-
  post = JSON.stringify([{
    judul: "status hukum demokrasi",
    penulis: `abdul mun'im musthofa halimah`
  }])
  post = JSON.parse(post).sort((a, b) => a.judul.localeCompare(b.judul))
  
block start